In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("multipleregression.xlsx")
df

    Y  X1  X2
0  40   6   4
1  44  10   4
2  46  12   5
3  48  14   7
4  52  16   9
5  58  18  12
6  60  22  14
7  68  24  20
8  74  26  21
9  80  32  24

In [3]:
learning_rate = 0.01
num_iterations = 1000

In [ ]:
#setting the cost function for multiple linear regression